# 2. Series

In [55]:
import pandas as pd
import numpy as np

## 2-1. Series 생성하기

* Numpy에서 제공하는 1차원 배열과 유사
* 엑셀에서 한 컬럼
* Series = 1차원 배열의 값(value) + 행 인덱스(index)

In [56]:
# 1. value 값만 추가
# index를 지정하지 않은 경우 0부터 시작하는 index가 부여됨
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [57]:
type(s)

pandas.core.series.Series

In [58]:
s.shape

(4,)

In [59]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [60]:
type(s.values)

numpy.ndarray

In [61]:
# dtype 지정하기
pd.Series([1, 2, 3, 4], dtype=float)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [62]:
pd.Series(np.array([1,2,3,4]))

0    1
1    2
2    3
3    4
dtype: int32

In [63]:
# 1~10까지 Series 만들기
pd.Series(range(1, 11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [64]:
pd.Series(np.arange(1, 11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [65]:
# 2. Value와 index 둘 다 주기
index = [1, 2, 3, 4]
s = pd.Series([10, 20, 30, 40], index=index)
s

1    10
2    20
3    30
4    40
dtype: int64

In [66]:
#index에 문자열 주기
index = ['치킨', '초밥', '콜라', '삼겹살']
s = pd.Series([16000, 30000, 2000, 120000], index=index)
s

치킨      16000
초밥      30000
콜라       2000
삼겹살    120000
dtype: int64

In [67]:
s.index

Index(['치킨', '초밥', '콜라', '삼겹살'], dtype='object')

In [68]:
s.values

array([ 16000,  30000,   2000, 120000], dtype=int64)

In [69]:
# 딕셔너리로 만들기
s = pd.Series({'치킨' : 16000, '초밥' : 30000, '콜라' : 2000, '삼겹살' : 12000 })
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [70]:
s.index.name = '메뉴명'
s

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

## 2-2. Series 인덱싱과 슬라이싱

In [71]:
# 0 인덱스
s[0]

16000

In [72]:
s['치킨'], s.치킨

(16000, 16000)

In [73]:
s[-1], s['삼겹살']

(12000, 12000)

In [74]:
# index가 숫자인 경우
t = pd.Series([10, 20, 30, 40], 
             index=[1, 2, 3, 4])
t

1    10
2    20
3    30
4    40
dtype: int64

In [75]:
t[1]

10

In [76]:
# Fancy 인덱싱
s[['치킨', '콜라']]

메뉴명
치킨    16000
콜라     2000
dtype: int64

In [77]:
s[[0, 2]]

메뉴명
치킨    16000
콜라     2000
dtype: int64

In [78]:
# Boolean 인덱싱
s <= 15000

메뉴명
치킨     False
초밥     False
콜라      True
삼겹살     True
dtype: bool

In [79]:
s[s <= 15000]

메뉴명
콜라      2000
삼겹살    12000
dtype: int64

In [80]:
# 15000원 이상이면서 30000원 이하
s[(s >= 15000) & (s <= 30000)]

메뉴명
치킨    16000
초밥    30000
dtype: int64

In [81]:
# 슬라이싱 (start:end:step)
# 0인데깅 사용 슬라이싱 : end - 1
s[1:3]

메뉴명
초밥    30000
콜라     2000
dtype: int64

In [82]:
# 인덱스 라벨로 슬라이싱 하면 end까지
s['초밥':'삼겹살']

메뉴명
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

## 2-3. Series 데이터 CRUD

In [83]:
# 앞에서부터 데이터 보기
s.head()

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [84]:
s.head(2)

메뉴명
치킨    16000
초밥    30000
dtype: int64

In [85]:
#뒤에서부터 데이터 보여주기
s.tail()

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [86]:
s.tail(3)

메뉴명
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [87]:
# 데이터 추가
# 피자 추가 (20000)
s['피자'] = 20000
s

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
dtype: int64

In [88]:
s['햄버거'] = 0
s

메뉴명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
햄버거        0
dtype: int64

In [89]:
s['햄버거'] = np.NaN
s

메뉴명
치킨     16000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
dtype: float64

In [90]:
# 비어있는 데이터 찾기
s.isnull()

메뉴명
치킨     False
초밥     False
콜라     False
삼겹살    False
피자     False
햄버거     True
dtype: bool

In [91]:
s[s.isnull()]

메뉴명
햄버거   NaN
dtype: float64

In [92]:
s.isna()

메뉴명
치킨     False
초밥     False
콜라     False
삼겹살    False
피자     False
햄버거     True
dtype: bool

In [93]:
# 비어있지 않은 데이터 찾기
s.notnull()

메뉴명
치킨      True
초밥      True
콜라      True
삼겹살     True
피자      True
햄버거    False
dtype: bool

In [94]:
s.notna()

메뉴명
치킨      True
초밥      True
콜라      True
삼겹살     True
피자      True
햄버거    False
dtype: bool

In [95]:
# 데이터 변경하기
s['치킨'] = 20000
s

메뉴명
치킨     20000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
dtype: float64

In [96]:
s[0] = 21000
s

메뉴명
치킨     21000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
dtype: float64

In [97]:
s[s.notna()]

메뉴명
치킨     21000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
dtype: float64

In [98]:
#데이터 삭제하기
del s['햄버거']
s

메뉴명
치킨     21000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
dtype: float64

## 2-4. Series 연산

In [99]:
# Series간의 사칙연산
data = [20000, 30000, 2000, 12000, 2000]
index = ['치킨', '초밥', '콜라', '삼겹살']
s2 = pd.Series(data=data, index=index)

ValueError: Length of passed values is 5, index implies 4.

In [100]:
# 인덱스 라벨이 동일해야 함.
s + s2

메뉴명
치킨    NaN
초밥    NaN
콜라    NaN
삼겹살   NaN
피자    NaN
dtype: float64

In [101]:
s - s2

메뉴명
치킨    NaN
초밥    NaN
콜라    NaN
삼겹살   NaN
피자    NaN
dtype: float64

In [102]:
# Scalar와의 연산
s = s + 1000

In [103]:
# Aggregation 함t수
s.max()

31000.0

In [104]:
s.min()

3000.0

In [105]:
s.sum()

90000.0

In [106]:
s.mean()

18000.0

In [107]:
s.median()

21000.0